@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './base.css';
@import '@splidejs/vue-splide/css/sea-green';

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
    90deg,
    #790e82 0%,
    #b48bb8 17%,
    #9f0f43 49%,
    #1e0720 87%
  );
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  height: 100%;
}
